@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&family=Ubuntu:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
/* MENU SECTION*/
nav {
    padding: 0 15px;
    background-color: rgb(255, 0, 96);
    overflow: hidden;
    height: auto;
    font-size: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li { 
    padding: 10px;
    margin: 7px;
    align-items: center;
    transition: 0.3s;
    list-style-type: none;
}


.item:hover {
    background-color: rgb(255, 0, 176);
    border-radius: 25px 25px 25px 25px ;
}

.item:active {
    color: black;
    background-color: #ccc;
}

nav ul li a:not(:only-child):after {
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 20px;
    line-height: 20px;
}

.item.button{ padding :9px 5px; }
.item:not(.button) a:hover, .item a:hover::after {
    color: #ccc;
}

#button{
    display: none;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 12px rgba;
}

/*RESPONSIVE NAVBAR DESING*/
@media screen and  (max-width: 768px) {
    nav li:not(:first-child) {
        display: none;
    }

    #nav-toogle {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    nav.responsive {
        position: relative;
    }
    nav.responsive a i {
        position: absolute;
        right: 0;
        top: 0;
    }

    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*BODY*/

.home {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(./Assest/bikini-girl-hd-Playboy-sexy-woman-1704651-wallhere.com.jpg);
    background-size: cover;
    background-position: right;
    box-shadow: 1em 2em black;
}

h1 {
    font-size: 7em;
    font-weight: 100%;
    color: white;
    box-shadow: 1.5em;
    text-shadow: 2px 2px 5px red;
}

h2{
    font-size: 5em;
    font-weight: 70%;
    color: white;
    text-align: center;
    margin: -30px;
    text-shadow: 2px 2px 5px red;
}

p {
    color: white;
    font-size: 3em;
    margin-top: 30px;
    text-shadow: 2px 2px 5px red;
}


body{
    background-color: rgb(255, 32, 92);
}

main {
    font-family: 'Ubuntu', sans-serif;
    background-color:rgb(255, 136, 196);
    margin: 70px 30px;
    border-radius: 25px;
    padding: 34px;
    box-shadow: 0 1rem 3rem grey;
}

.Dinamicas-Container {
    display: flex;
    justify-content: space-around;
}

.Dinamicas-Container {
    
}

.Show-sw-box {
    background-color: rgb(255, 87, 195);;
    padding: 10px 15px;
    border-radius: 8%;
}

.sw-box-text {
    text-align: center;
    font-size: 2em;
}

.sw-box-subtext{
    text-align: center;
    font-size: 1.7em;
}

#swinger {
    border-radius: 5%;
}

#chicas {
    border-radius: 5%;
}

#strippers {
    border-radius: 5%;
}

.Chicas-box {
    background-color: rgb(255, 87, 195);;
    padding: 10px 15px;
    border-radius: 8%;
}

.girls-box-text {
    text-align: center;
    font-size: 2em;
}

.girls-box-subtext {
    text-align: center;
    font-size: 1.7em;
}

.Strippers-herOnly{
    background-color: rgb(255, 87, 195);;
    padding: 10px 15px;
    border-radius: 8%;
}

.str-box-text {
    text-align: center;
    font-size: 2em;
}

.str-box-subtext {
    text-align: center;
    font-size: 1.7em;
}
