@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&family=Ubuntu:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}
/* MENU SECTION*/

nav{display: block}

#topNav {
    padding: 0 15px;
    background-color: rgb(255, 0, 96);
    font-size: 25px;
}

#topNav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#topNav > ul > li {
    display: inline-block;
}

#topNav > ul > li { 
    padding: 10px;
    margin: 7px;
    align-items: center;
    transition: 0.3s;
    display: inline-block;

}

 #topNav ul li {
    position: relative;
 }

 .header #topNav > ul >li > a {
    line-height: 100px;
 }

 #topNav > ul > li > a {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    -webkit-transform: all 0.3s ease-in-out;
    -ms-transformation: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }

 #topNav ul.submenu {
    position: absolute;
    left: 0;
    top: 150%;
    width: 300px;
    text-align: left;
    z-index: 9999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(Opacity=0);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }

 #topNav ul.submenu li:first-child {
    border-top: none;
 }

 #topNav ul.submenu > li {
    border-top: 1px solid #ccc;
 }

 #topNav ul li ul li {
    margin-left: 0;
 }

 #topNav ul.submenu > li > a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 0 0 20px;
    line-height: 45px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }

 #topNav ul li:hover > ul.submenu {
    top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
    border-radius: 0 25px 25px 25px;
 }


.item:hover {
    background-color: rgb(240, 79, 189);
    border-radius: 25px 25px 25px 25px ;
}

.subitem:hover {
    background-color: rgb(109, 0, 75);
    border-radius: 25px 25px 25px 25px ;
    transition: 0.3s;
}

.item:active {
    color: black;
    background-color: #ccc;
}

#topNav ul li a:not(:only-child):after {
    content: ' ▾';
}

#itemenu:hover {
    border-radius: 25px 0 25px 0;
}


/*RESPONSIVE NAVBAR DESING*/
@media screen and  (max-width: 768px) {
    #topNav li:not(:first-child) {
        display: none;
    }

    #nav-toogle {
        display: block;
    }

    nav.responsive {
        position: relative;
    }
    nav.responsive a i {
        position: absolute;
        right: 0;
        top: 0;
    }

    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/*BODY*/

.home {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(./Assest/bikini-girl-hd-Playboy-sexy-woman-1704651-wallhere.com.jpg);
    background-size: cover;
    background-position: right;
    box-shadow: 1em 2em black;
}

h1 {
    font-size: 7em;
    font-weight: 100%;
    color: white;
    box-shadow: 1.5em;
    text-shadow: 2px 2px 5px red;
}

h2{
    font-size: 5em;
    font-weight: 70%;
    color: white;
    text-align: center;
    margin: -30px;
    text-shadow: 2px 2px 5px red;
}

p {
    color: white;
    font-size: 3em;
    margin-top: 30px;
    text-shadow: 2px 2px 5px red;
}


body{
    background-color: rgb(255, 32, 92);
}

main {
    font-family: 'Ubuntu', sans-serif;
    background-color:rgb(255, 136, 196);
    margin: 70px 30px;
    border-radius: 25px;
    padding: 34px;
    box-shadow: 0 1rem 3rem grey;
}

.Dinamicas-Container {
    display: flex;
    justify-content: space-around;
}

.Dinamicas-Container {
    
}

.Show-sw-box {
    background-color: rgb(255, 87, 195);;
    padding: 10px 15px;
    border-radius: 8%;
}

.sw-box-text {
    text-align: center;
    font-size: 2em;
}

.sw-box-subtext{
    text-align: center;
    font-size: 1.7em;
}

#swinger {
    border-radius: 5%;
}

#chicas {
    border-radius: 5%;
}

#strippers {
    border-radius: 5%;
}

.Chicas-box {
    background-color: rgb(255, 87, 195);;
    padding: 10px 15px;
    border-radius: 8%;
}

.girls-box-text {
    text-align: center;
    font-size: 2em;
}

.girls-box-subtext {
    text-align: center;
    font-size: 1.7em;
}

.Strippers-herOnly{
    background-color: rgb(255, 87, 195);;
    padding: 10px 15px;
    border-radius: 8%;
}

.str-box-text {
    text-align: center;
    font-size: 2em;
}

.str-box-subtext {
    text-align: center;
    font-size: 1.7em;
}
